{:paths ["src"]

 :deps {}

 :aliases
 {:dev {:extra-paths ["test"]
        :extra-deps {io.github.noahtheduke/lazytest {:mvn/version "1.9.1"}}}

  :test {:extra-paths ["test"]
         :extra-deps {io.github.noahtheduke/lazytest {:mvn/version "1.9.1"}}
         :main-opts ["-m" "lazytest.main"]}

  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.12"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}

  :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote
                       :artifact "target/anomaly.jar"}}}}
